/*stylesheet*/

/*
Museo Slab 300

font-family: museo-slab, serif;

font-weight: 300;

font-style: normal;


Museo Slab 300 Italic

font-family: museo-slab, serif;

font-weight: 300;

font-style: italic;


Museo Slab 700

font-family: museo-slab, serif;

font-weight: 700;

font-style: normal;


Museo Slab 700 Italic

font-family: museo-slab, serif;

font-weight: 700;

font-style: italic;

Benguiat Pro ITC Bold

font-family: itc-benguiat, serif;

font-weight: 700;

font-style: normal;


Benguiat Pro ITC Bold Italic

font-family: itc-benguiat, serif;

font-weight: 700;

font-style: italic;


Benguiat Pro ITC Book

font-family: itc-benguiat, serif;

font-weight: 400;

font-style: normal;


Benguiat Pro ITC Book Italic

font-family: itc-benguiat, serif;

font-weight: 400;

font-style: italic;

*/

/* vars */
:root {
  --base-font-size: 16px;
  --fluid-typography-ratio: 0.9;
}

body {
	margin: 0;
  font-family: museo-slab, serif;
  font-weight: 300;
}

a:focus,button:focus,input:focus,textarea:focus {outline: none;}

.wrapper {
  position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

/* Masthead */

#masthead {
	background-color: #e6e6e6;
	padding: 0 1rem;
}

#nav {
	background-color: #b6b6b6;
}

#logo {
	padding: 1rem 0;
}

#logo #logo-holder {
  position: relative;
  color: var(--body-color);
  display: flex;
  align-items: center;
}

#logo a {
	width: 30%;	
}

#logo img {
	width: 100%;
	height: auto;
	display: block;
}

#nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav .nav-menu a {
  flex-grow: 1;
  padding: 2rem 0;
  color: #000;
  text-decoration: none;
}

#nav .nav-menu a.logo {
  width: 20%;
}

#nav .nav-menu a img {
  width: 100%;
  height: auto;
  display: block;
}

#nav .nav-menu a:hover, #nav .nav-menu a.active {
  text-decoration: underline;
}

/* Thing */

#thing {
  background: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#thing-inner {
  padding: 15rem 10rem;
}

#thing-inner h1 {
  margin-top: 0;
}

/* Slider */

#slider {
  overflow: hidden;
  margin-bottom: 4rem;
}

#slider .prev, #slider .next {
  position: absolute;
  z-index: 2;
  margin: 1rem;
  font-size: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev span, .next span {
  cursor: pointer;
  display: block;
  background: #fff;
}

#slider img {
  display: block;
  height: auto;
  width: 100%;
}

/* Map */

#map {
  overflow: hidden;
  margin-bottom: 4rem;
}

#map img {
  width: 100%;
  height: auto;
  display: block;
}

#map-inner {
  position: relative;
}

#map-inner .map1 {
  position: absolute;
  z-index: 1;
  width: 9%;
  height: 12%;
  left: 57%;
  top: 58%;
  border: 5px solid transparent;
  transition: border .3s ease-in-out;
}

#map-inner .map1:hover {
  border: 5px solid red;
}

/* Tree */

#tree {
  overflow: hidden;
}

#tree img {
  width: 100%;
  height: auto;
  display: block;
}

#tree-inner {
  position: relative;
}

#tree-inner .bird-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 2rem;
  top: 2rem;
  border: 1px solid black;
  background: #fff;
}

.stuff {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#tree-inner .bird-overlay p:last-child {
  margin-bottom: 0;
}

#tree-inner .bird-overlay p:first-child {
  margin-top: 0;
}

#tree-inner .bird {
  position: absolute;
  z-index: 1;
  width: 6%;
  height: 7%;
  left: 16%;
  top: 27%;
  border: 5px solid red;
}

.close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display:block;
  box-sizing:border-box;
  width:1rem;
  height:1rem;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%);
}


/* ying ying's styles */

.wrapper-y {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

#home {

}

#home-inner {
  background: #d6d6d6;
  margin: 4rem 0;
}

#home-inner .home-graphic {

}

#home-inner .home-nav-inner {
  margin-left: 2rem;
}

#home-inner .home-nav-inner p {
  margin-top: 0;
}

#home-inner .home-graphic img {
  display: block;
  width: 100%;
  height: auto;
}

#home-inner .home-nav-inner img {
  display: block;
  width: 60%;
  height: auto;
}

#home-inner .intro h2 {
  margin-top: 0;
}











/* media queries */

@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 1rem;
  }

  #logo #logo-holder {
    justify-content: center;
    margin: 1rem 0;
  }

  #logo a {
  	width: 25%;
  }

}

@media all and (min-width: 700px) { 
  
  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
  }

}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

}

